## Functions and Modules

#### Syntax
###### def func_name(params):
######     '''
######      Doc string
######     '''

######     statements

### creating a user defined function

In [2]:
# Function declaration

def greetings(name):
    """ This function will greet you """
    print("Good Morning", name)

In [3]:
print(greetings)

<function greetings at 0x0000026FFCD7A520>

In [4]:
type(greetings)

function

In [5]:
 # Function calling/Invokation
greetings("Mohit")

Good Morning Mohit

In [6]:
greetings("Jeevan")

Good Morning Jeevan

In [7]:
# doc-string
greetings.__doc__

' This function will greet you '

In [8]:
print(greetings.__doc__)

 This function will greet you

### The return Keyword
#### - The return statement is used to exit a function and go back to the place from where it called.

#### - return statement can contain an expression which gets evaluated and the value is returned.

#### - if there is no expression in the statement or the return statement itself is not present inside a function, then the function will return None Object.

In [9]:
def add(a,b):
    """ It return sum of 2 numbers """
    c = a+b
    return c

In [11]:
# it is not printing the value, it is a return value
add(5,3)

8

In [13]:
add.__doc__

' It return sum of 2 numbers '

In [14]:
print(add(5,3))

8

In [18]:
#you can receive the return value in varible
my_sum = add(5,9)
print(my_sum)

14

In [31]:
def product(lst):
    """
    Parameters
    lst : it is a list
    return: product of all elements in a list
    """
    p = 1
    
    for i in lst:
        p*=i
        
    return p

In [32]:
lst = [5,4,3,2,1]

In [33]:
res = product(lst)

print(res)

120

In [34]:
lst2 = [7,8,9,5,3,]

res2 = product(lst2)
print(res2)

7560

#### Note : Function can return multiple values in form of a tuple

In [45]:
def calculator(a,b):
    """ Calculate and return basic 4 operations """

    return a+b, a-b, a*b, a/b  #evaluating

In [47]:
cal_res= calculator(6,4)
print(cal_res)

(10, 2, 24, 1.5)

### Scope of a variable

##### - Scope of a variable is the portion of program where the variable is recognized

###### Gloabl Variable - variable that are created outside of a function are known as global variable - Global variable can be used by anywhere in the program(inside or outside of a function)

###### Local Variable - variable defined inside the function known as local varibales. Hence, they have a local scope. - Local variables cannot be used outside a function.

In [48]:
age = 25

In [49]:
print(age)

25

In [53]:
print(globals()['age'])

25

In [54]:
#Changing age variable
globals() ['age'] = 27 #age = 27

In [55]:
print(age)

27

In [58]:
global_var = 100
def test_func():
    local_var = 77

    print(global_var)
    print(local_var)


test_func()
print(global_var)
#print(local_var)

100
77
100

In [59]:
x = 45
def new_func():
    x =22
    print(x)

new_func()
print(x)

22
45

In [60]:
x = 45
def new_func():
    global x
    x = 22
    print(x)

new_func()
print(x)

22
22

## Lamba Functions

In [65]:
#Lambda function is used as anonymous functions
add = (lambda a,b : a+b)

In [66]:
add(5,4)

9

In [69]:
(lambda x,y : x+y if x+y>0 else 0) (5, 40)

45

In [71]:
func = (lambda x,y : x+y if x+y>0 else 0)

In [72]:
func(5, -40)

0

In [73]:
names = [('Prateek', 5), ('Mohit', 2), ('Abhi', 6)]

In [74]:
sorted(names)

[('Abhi', 6), ('Mohit', 2), ('Prateek', 5)]

In [77]:
sorted(names, key = lambda x : x[1])

[('Mohit', 2), ('Prateek', 5), ('Abhi', 6)]

#### Function Question 
###### Write a function to find Least Common Multiple LCM of a,b.

In [79]:
def LCM(a, b):
    """ It returns LCM of a and b """
    max_num = (a if a>b else b)

    while True:
        if((max_num%a==0) and (max_num%b==0)):
            return max_num
        else:
            max_num+=1

In [80]:
LCM(4,18)

36

In [83]:
res = LCM(3,5)
print(res)

15

## Function Arguments Vs Parameters
###### -> Arguements vs Parameters
###### ~ postional Aruguments
###### ~ default arguments
###### ~ arbitary arguments (args)
###### ~ keyword arguments (kwargs)

#### Postional Arguments - 
###### -> They are mandatory to pass

In [86]:
def intro(name, nationality): ##Parameters
    print("My name is", name)
    print("I'm", nationality)

In [87]:
intro("jeevan", "INDIAN") ## Arguments

My name is jeevan
I'm INDIAN

In [88]:
intro("Jeevan")

TypeError: intro() missing 1 required positional argument: 'nationality'

In [90]:
intro("Indian", "Jeevan") # You have give in a sequnectial order

My name is Indian
I'm Jeevan

## Default Arguments
##### -> parameters that have some default values, They are optional parameters
##### -> default parameters always come after positional parameters

In [91]:
def intro(name, nationality = "Indian"): ## deafult Argument
    print("My name is", name)
    print("I'm", nationality)

In [92]:
# works without giving nationality
intro("Jeevan")

My name is Jeevan
I'm Indian

In [93]:
intro("John", "American")

My name is John
I'm American

In [95]:
# default arguments comes after positional arguments
def test(a, b, c, d = 0):
    pass

In [96]:
def test(a = 0, b, c, d):
    pass

SyntaxError: parameter without a default follows parameter with a default (649731783.py, line 1)

### Arbitary Arguments (args)
###### - It can receive any number of arguments and stores in a tumple

In [10]:
## 
def args_func( *args ):
    print(args)
    print(type(args))

    for i in args:
        print(i*2)

In [12]:
args_func(4,5,7, "Mohit", True)

(4, 5, 7, 'Mohit', True)
<class 'tuple'>
8
10
14
MohitMohit
2

## Keyword Arguments(**kwargs)
##### - it also takes any number of arguments and stores in form of dictionary
##### - parameter name is mandatory while calling function

In [24]:
def intro( **kwargs ):
    print(kwargs)
    print(type(kwargs))

    print(kwargs['name'])
    for k,v in kwargs.items():
        print(k, ":", v)

In [25]:
intro(name='Mohit', age = 24, nationality = 'Indian')

{'name': 'Mohit', 'age': 24, 'nationality': 'Indian'}
<class 'dict'>
Mohit
name : Mohit
age : 24
nationality : Indian

In [26]:
intro(name='Mohit', age = 24, hobby = ['singing', 'coding'], nationality = 'Indian')

{'name': 'Mohit', 'age': 24, 'hobby': ['singing', 'coding'], 'nationality': 'Indian'}
<class 'dict'>
Mohit
name : Mohit
age : 24
hobby : ['singing', 'coding']
nationality : Indian

In [27]:
intro(name='Mohit', age = 24, company = 'Google')

{'name': 'Mohit', 'age': 24, 'company': 'Google'}
<class 'dict'>
Mohit
name : Mohit
age : 24
company : Google

In [28]:
def combination(a, b, c, age = 18, *args, **kwargs):
    print(a,b,c,age)
    print(args)
    print(kwargs)

In [31]:
combination(100,200,300,400,500,600,x=8,y=99,z=0.0)

100 200 300 400
(500, 600)
{'x': 8, 'y': 99, 'z': 0.0}

## Built-Ins Functions
###### print()
###### abs()
###### round()
###### all()
###### any()
###### dir()
###### enumerate()
###### Aggregation functions : sum(), max(), min()
###### filter()
###### map()
###### reduce()

In [1]:
abs?

Signature: abs(x, /)
Docstring: Return the absolute value of the argument.
Type:      builtin_function_or_method

In [2]:
abs(1.1)

1.1

In [3]:
abs(-1.1)

1.1

In [4]:
round?

Signature: round(number, ndigits=None)
Docstring:
Round a number to a given precision in decimal digits.

The return value is an integer if ndigits is omitted or None.  Otherwise
the return value has the same type as the number.  ndigits may be negative.
Type:      builtin_function_or_method

In [5]:
round(78.9)

79

In [6]:
round(78.98765)

79

In [8]:
round(78.98765, 3)

78.988

#### all() returns
###### --> True: if all elemets in an iterable are true
###### --> False: if any element in an iterable is false.

In [10]:
lst = [1,2,3,4]
all(lst)

True

In [13]:
tup = (0,1,2,3) # 0 is present
all(tup)

False

In [15]:
lst1 = [False, 1, 2]
all(lst1)

False

In [16]:
lst = []
all(lst)

True

#### any() returns
###### --> True: if any of the elemet in an iterable are true
###### --> False: otherwise

In [18]:
lst = [1,2,3,4]
any(lst)

True

In [19]:
lst = [False, 0, -1]
any(lst)

True

In [20]:
lst = []
any(lst)

False

In [22]:
lst  = [0] * 5
any(lst)

False

#### dir() - displays all the function associated with an object

In [23]:
lst = [1,2,3,4]

In [24]:
dir(lst)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [25]:
print(dir(lst))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

### enumerate() - enumerate method adds a counter to an iterable and return it in a form of enumerate object

In [26]:
fruits = ['Apple', 'Mango', 'Grape', 'Banana']
for idx, ele in enumerate(fruits):
    print(idx, ele)

0 Apple
1 Mango
2 Grape
3 Banana

In [27]:
fruits = ['Apple', 'Mango', 'Grape', 'Banana']
for idx, ele in enumerate(fruits, 10):
    print(idx, ele)

10 Apple
11 Mango
12 Grape
13 Banana

#### Aggregation functions

In [28]:
lst = [3,5,7,8,6,87,82]

In [29]:
sum(lst)

198

In [30]:
max(lst)

87

In [31]:
min(lst)

3

In [32]:
sum(lst)/len(lst)

28.285714285714285

In [33]:
round(sum(lst)/len(lst), 2)

28.29

#### Map - Map applies a function to all the items of an iterable

In [34]:
def add_one(x):
    return(x+1)

In [35]:
add_one(100)

101

In [36]:
print(lst)

[3, 5, 7, 8, 6, 87, 82]

In [37]:
new_lst = []
for i in lst:
    new_lst.append(i+1)
print(new_lst)

[4, 6, 8, 9, 7, 88, 83]

In [38]:
map(add_one, lst)

In [39]:
map_ele = map(add_one, lst)
print(map_ele)

<map object at 0x0000012299A595A0>

In [40]:
list(map_ele)

[4, 6, 8, 9, 7, 88, 83]

In [42]:
list (map(lambda x:x+1, lst))

[4, 6, 8, 9, 7, 88, 83]

#### filter() - The filter() method constructs an iterator from elements of an oterable for which a functions returns true

In [43]:
lst = [4, 6, 8, 9, 7, 3, 1]

In [44]:
new_lst = []
for i in lst:
    if i%2 == 0:
        new_lst.append(i)
print(new_lst)

[4, 6, 8]

In [46]:
def is_even(x):
    return x%2==0

In [47]:
filter(is_even, lst)

In [48]:
fliter_ele = filter(is_even, lst)
print(fliter_ele)

<filter object at 0x0000012299A29D50>

In [49]:
list(fliter_ele)

[4, 6, 8]

In [51]:
list(filter(lambda x:x%2 ==0, lst))

[4, 6, 8]

#### Reduce
###### - reduce() function is for performing some computation on a list and returning the result.
###### - It applies a rolling computation to sequential pairs of values in a list

In [53]:
# Products of elements in a list
lst = [1,2,3,4,5]

#traditional way without reduce
prod = 1
for num in lst:
    prod *= num
print(prod)

120

In [54]:
from functools import reduce

In [55]:
reduce?

Docstring:
reduce(function, iterable[, initial]) -> value

Apply a function of two arguments cumulatively to the items of a sequence
or iterable, from left to right, so as to reduce the iterable to a single
value.  For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
of the iterable in the calculation, and serves as a default when the
iterable is empty.
Type:      builtin_function_or_method

In [56]:
def mul(x,y):
    return x*y

In [57]:
mul(5,4)

20

In [59]:
prod = reduce (mul, lst)

In [60]:
print(prod)

120

In [62]:
reduce(lambda x,y: x*y, lst)

120

In [65]:
sum([2,4,6])

12

In [66]:
max(False, -3, -4)

False

In [67]:
min(False, 2,7)

False

TypeError: ord() expected a character, but string of length 0 found

In [69]:
list(enumerate([2,3]))

[(0, 2), (1, 3)]

In [70]:
x = 3
eval('x^2')

1