In [1]:
# Tuples
# -> Similiar to List (but read only)
# -> Ordered, collection of items
# -> Indexable
# -> Immutable

In [5]:
# creating empty tuple
t = ()
t = tuple()

In [6]:
type (t)

tuple

In [7]:
# Heterogenous Elements
tup = (8, 9, "hello", 88)

In [8]:
print(tup)

(8, 9, 'hello', 88)

In [9]:
type(tup)

tuple

In [10]:
# for one element : only paranthesis is not enough
t = ('Jeevan')
type(t)

str

In [11]:
#for one element : comma is mandatory
t = ('Jeevan', )
type(t)

tuple

In [12]:
#
t = 'Jeevan',
type(t)

tuple

In [14]:
print(tup)

(8, 9, 'hello', 88)

In [15]:
print(tup[0])

8

In [16]:
print(tup[2])

hello

In [18]:
# get all the elements
print(tup[:-1])

(8, 9, 'hello')

In [19]:
# Changing a Tuple 
# Typeerror This is not possible because of immutablity
tup[0] = 80

TypeError: 'tuple' object does not support item assignment

In [21]:
# Why we need tuple
# Employee salaries which you do not want anyone to change
# Standard values like PI
# In case of : Read-only data
# These are 10x fatser than List

In [22]:
lst = ['Mohit', 'Rohit', 'Hardik']

tup = (20, 30, lst, (1, 2, 3), 40, 50.0)

In [23]:
print(tup)

(20, 30, ['Mohit', 'Rohit', 'Hardik'], (1, 2, 3), 40, 50.0)

In [27]:
tup[2][-1] = 'Jatin'

In [28]:
print(tup)

(20, 30, ['Mohit', 'Rohit', 'Jatin'], (1, 2, 3), 40, 50.0)

In [30]:
# Tuple Operations
for ele in tup:
    print(ele*2)

40
60
['Mohit', 'Rohit', 'Jatin', 'Mohit', 'Rohit', 'Jatin']
(1, 2, 3, 1, 2, 3)
80
100.0

In [31]:
# Concatinating tuples
t = (1,2,3) + (4,5,6)
print(t)

(1, 2, 3, 4, 5, 6)

In [32]:
(0, ) * 10

(0, 0, 0, 0, 0, 0, 0, 0, 0, 0)

In [33]:
#Tuple Deletion
# We cannot change/delete and elements in tuple
# But we can delete entrire tuple ysing del keyword

t = (1, 2, 3, 4, 5, 6)

#deleting entire tuple
del t

print(t)

NameError: name 't' is not defined

In [34]:
# Tuple unpacking
t = (1, 2, 3, 1, 3, 3, 4, 1)
print(t)

(1, 2, 3, 1, 3, 3, 4, 1)

In [35]:
print(t.index(3)) # It returns of the first occurance of element 3

2

In [36]:
print(t.count(3))

3

In [37]:
# Tuple membership
# It tests if an items exits in a tuple or notm using keyword in

9 in t

False

In [38]:
1 in t

True

In [39]:
# Tuple Unpacking
t = (4, 2, 1)
a = t[0]
b = t[1]
c = t[2]
print(a, b, c)

4 2 1

In [40]:
d, e, f = t

In [41]:
print(d, e, f)

4 2 1

In [43]:
print(*t) #unpack the tuple

4 2 1